#aboutme-section {
  .aboutme {
    .categories-header {
      h1 {
        color: #c30d3e;
      }
    }
    .aboutme-body {
      display: flex;
      flex-direction: row-reverse;
      gap: 25px;
      min-height: 450px;

      .aboutme-leftside {
        flex: 3;
        max-width: 60%;
      }
      .aboutme-rightside-main {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 2;
        max-width: 40%;

        .aboutme-rightside {
          .aboutme-header {
            display: flex;
            align-items: center;
            gap: 10px;

            background-color: #101010;
            border-radius: 15px;
            color: #f1f1f1;
            padding: 6px 18px;

            i {
              font-size: 24px;
            }

            h2 {
              letter-spacing: -1px;
            }
          }
          .aboutme-education {
            display: flex;
            flex-direction: column;
            gap: 25px;

            margin: 25px 0px 5px 0px;

            .aboutme-education-course {
              display: flex;
              align-content: flex-start;
              justify-content: flex-start;

              .education-year {
                flex: 2;
                font-size: 12px;
                font-weight: 600;
                text-align: center;
                height: 100%;
                width: 150px;
              }
              .education-line {
                flex: 1;

                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0px 10px;
                height: 100%;

                i {
                  color: #f79c00;
                  font-size: 14px;
                  margin-bottom: 10px;
                }

                .line {
                  background-color: #101010;
                  height: 85px;
                  width: 2px;
                }
              }
              .education-info-box {
                display: flex;
                flex-direction: column;
                align-content: space-between;
                justify-content: space-between;

                h3 {
                  color: #c30d3e;
                  font-weight: 800;
                  letter-spacing: -1px;
                  margin-top: -6px;
                }

                p {
                  font-size: 16px;
                  &:nth-last-child(2) {
                    color: #fd6780;
                    font-weight: 800;
                    margin-top: -10px;
                  }

                  &:nth-last-child(1) {
                    font-weight: 500;
                  }
                }
              }
            }
          }
          .aboutme-techicons {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            margin: 25px 0px 5px 0px;

            .aboutme-techicons-row {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              align-items: flex-end;

              gap: 15px;

              div {
                display: flex;
                flex-direction: column;
                align-items: center;
              }

              p {
                font-size: 16px;
                font-weight: 700;
                letter-spacing: -1px;
              }

              img {
              }
            }
          }
          .aboutme-skillstags {
            .aboutme-skillstags-list {
              display: grid;
              grid-auto-flow: row;
              grid-gap: 15px;
              gap: 10px;

              margin: 25px 0px 5px 0px;

              p {
                border-radius: 15px;
                font-weight: 700;
                padding: 2px 14px;
              }
            }
          }
        }
      }

      .aboutme-leftside {
        .memojihi {
          margin-top: 20px;
          height: 375px;
          float: right;
          shape-outside: url(../../../assets/memoji-love.png);
          shape-margin: 35px;
          -webkit-mask-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 30%
          );
        }

        p {
          text-align: justify;
          font-weight: 500;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #aboutme-section {
    .aboutme {
      .aboutme-body {
        .aboutme-leftside {
          .memojihi {
            margin-top: 20px;
            height: 300px;
            shape-margin: 25px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #aboutme-section {
    .aboutme {
      .aboutme-body {
        flex-direction: column-reverse;
        gap: 50px;
        min-height: 450px;

        .aboutme-leftside {
          flex: 1;
          max-width: 100%;
        }
        .aboutme-rightside-main {
          flex: 1;
          max-width: 100%;

          .aboutme-rightside {
            .aboutme-header {
              display: flex;
              align-items: center;
              gap: 10px;

              background-color: #101010;
              border-radius: 15px;
              color: #f1f1f1;
              padding: 6px 18px;

              i {
                font-size: 24px;
              }

              h2 {
                letter-spacing: -1px;
              }
            }
            .aboutme-education {
              display: flex;
              flex-direction: column;
              gap: 25px;

              margin: 25px 0px 5px 0px;

              .aboutme-education-course {
                display: flex;
                align-content: flex-start;
                justify-content: flex-start;

                .education-year {
                  flex: 2;
                  font-size: 12px;
                  font-weight: 600;
                  text-align: center;
                  height: 100%;
                  width: 150px;
                }
                .education-line {
                  flex: 1;

                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  margin: 0px 10px;
                  height: 100%;

                  i {
                    color: #f79c00;
                    font-size: 14px;
                    margin-bottom: 10px;
                  }

                  .line {
                    background-color: #101010;
                    height: 85px;
                    width: 2px;
                  }
                }
                .education-info-box {
                  display: flex;
                  flex-direction: column;
                  align-content: space-between;
                  justify-content: space-between;

                  h3 {
                    color: #c30d3e;
                    font-weight: 800;
                    letter-spacing: -1px;
                    margin-top: -6px;
                  }

                  p {
                    font-size: 16px;
                    &:nth-last-child(2) {
                      color: #fd6780;
                      font-weight: 800;
                      margin-top: -10px;
                    }

                    &:nth-last-child(1) {
                      font-weight: 500;
                    }
                  }
                }
              }
            }
            .aboutme-techicons {
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;

              margin: 25px 0px 5px 0px;

              .aboutme-techicons-row {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-end;

                gap: 15px;

                div {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                }

                p {
                  font-size: 16px;
                  font-weight: 700;
                  letter-spacing: -1px;
                }
              }
            }
          }
        }
        .aboutme-leftside {
          .memojihi {
            margin-top: 0px;
            height: 250px;
            shape-margin: 15px;
          }
        }
      }
    }
  }
}
