#categories-section {
  padding: 55px 0px;
  .categories {
    .categories-header {
      h1 {
        font-size: 58px;
        font-weight: 900;
        text-align: center;
        padding: 50px 0px;
      }
    }
  }
}
