#hero-section {
  position: relative;
  background-color: #101010;
  overflow: hidden;

  #hero {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 500px;

    .hero-header {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 50px;

      color: #f1f1f1;
      padding-bottom: 50px;
      height: 100%;
      width: 50%;
      z-index: 10;

      .hero-header-text {
        .hero-header-hello {
          display: flex;
          align-items: flex-end;
          gap: 15px;

          img {
            height: 45px;
          }
        }
        h1 {
          font-size: 86px;
          margin-bottom: -15px;
          margin-left: -5px;
          letter-spacing: -2px;
        }

        h2 {
          font-size: 40px;
          margin-top: 10px;
          margin-bottom: 30px;
          letter-spacing: -2px;

          u {
            color: #f75c76;
            text-decoration: underline wavy 3px;
            text-decoration-color: #f1f1f1;

            &:hover span {
              display: none;
            }

            &:hover:after {
              color: #fdb913;
              content: "Mayranne";
            }
          }
        }

        p {
          line-height: 30px;
        }
      }

      .hero-header-buttons {
        display: flex;
        gap: 20px;

        button {
          border: none;
          border-radius: 25px;

          transition: ease-out 0.7s;
          padding: 8px 16px;

          &:first-child {
            background-color: #e43a56;
            border: 1px solid #e43a56;
            color: #f1f1f1;

            &:hover {
              background-color: #f75c76;
              border: 1px solid #f75c76;
            }
          }

          &:last-child {
            background-color: transparent;
            border: 1px solid #e43a56;
            color: #e43a56;

            &:hover {
              background-color: #fdc2cc;
              border: 1px solid #fdc2cc;
              color: #dd2342;
            }
          }
        }
      }
    }
    .hero-blobs {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 100%;
      width: 50%;
      position: relative;

      .hero-blobs-instagram {
        z-index: 8;
        height: 420px;
        width: 420px;
      }

      .blob-one,
      .blob-two,
      .blob-three {
        top: 75px;
        width: 600px;
        position: absolute;
        z-index: 1;
      }
    }
  }
}

@media screen and (max-width: 1320px) {
  #hero-section {
    #hero {
      height: 550px;

      .hero-header {
        margin-bottom: 0px;

        .hero-header-text {
          .hero-header-hello {
            img {
              height: 35px;
            }
          }
          h1 {
            font-size: 72px;
          }
          h2 {
            font-size: 34px;
          }
        }
      }
      .hero-blobs {
        .blob-one,
        .blob-two,
        .blob-three {
          width: 500px;
        }
      }
    }
  }
}

@media screen and (max-width: 980px) {
  #hero-section {
    #hero {
      .hero-header {
        width: 50%;
        .hero-header-text {
          h1 {
            font-size: 62px;
            margin-bottom: -20px;
          }
          h2 {
            font-size: 30px;
          }
        }
      }
      .hero-blobs {
        width: 40%;

        .blob-one,
        .blob-two,
        .blob-three {
          width: 450px;
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {
  #hero-section {
    .hero-section-background {
      height: 500px;
    }
    #hero {
      height: 500px;

      .hero-blobs {
        width: 40%;

        .blob-one,
        .blob-two,
        .blob-three {
          width: 400px;
        }
      }
    }
  }
}

@media screen and (max-width: 660px) {
  #hero-section {
    .hero-section-background {
      border-radius: 0px 0px 125px 0px;
      height: 400px;
      width: 95%;
    }
    #hero {
      height: 400px;

      .hero-header {
        gap: 25px;
        width: 100%;
        padding-bottom: 25px;

        .hero-header-text {
          .hero-header-hello {
            justify-content: center;
            img {
              height: 35px;
            }
          }
          h1 {
            font-size: 54px;
          }

          h2 {
            font-size: 30px;
            text-align: center;
          }

          p {
            text-align: center;
            line-height: 30px;
          }
        }
        .hero-header-buttons {
          justify-content: center;
          margin-bottom: 10px;
        }
      }
      .hero-blobs {
        display: none;
      }
    }
  }
}
