@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:wght@300;400;500;700;900&display=swap");

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

body {
  background-color: #f1f1f1;
  color: #101010;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-decoration: none;
}

p {
  line-height: 30px;
}

a,
li {
  cursor: pointer;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}
