#categ-cards-section {
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
  transition: ease-in 0.2s;
  position: relative;

  background-color: #101010;

  &:hover {
    box-shadow: 0 0 10px rgba(16, 16, 16, 0.2);
    scale: 1.08;
    z-index: 2;

    a {
      .categories-cards-normal {
        .categ-cards-gradient {
          background-image: linear-gradient(to top, #a30028, rgba(0, 0, 0, 0));
        }
      }
    }
  }

  .categories-cards-normal {
    min-height: 225px;
    height: 100%;

    .categ-cards-gradient {
      background-image: linear-gradient(to top, #101010, rgba(0, 0, 0, 0));
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 1;
    }

    .categ-cards {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      height: 100%;
      width: 100%;
      position: relative;

      .categ-cards-content {
        color: #f1f1f1;
        width: 100%;
        padding: 15px 15px 10px 15px;
        z-index: 2;

        h1 {
          font-size: 18px;
          margin-bottom: 5px;
        }
        p {
          font-size: 14px;
          line-height: 18px;
        }
      }

      .categ-cards-background {
        position: absolute;
        width: 100%;

        img {
          width: 100%;
          opacity: 0.5;
        }
      }
    }
  }

  .categories-cards-hover {
    display: none;
  }
}

@media screen and (max-width: 1320px) {
  #categ-cards-section {
    .categories-cards-normal {
      min-height: 150px;
    }
  }
}

@media screen and (max-width: 780px) {
  #categ-cards-section {
    .categories-cards-normal {
      min-height: 175px;

      .categ-cards {
        .categ-cards-content {
          h1 {
            font-size: 14px;
            margin-bottom: 0px;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 660px) {
  #categ-cards-section {
    .categories-cards-normal {
      min-height: 150px;
    }
  }
}
